<%- include("header") -%>

<h2>This is the about page</h2>

<p>Task Master is a simplified To-Do List App, designed to streamline task management for its users.
It uses a No-SQL database to store the tasks. It includes a backend built with Node.js and Express.
Users can create separate lists for work,shopping,projects etc.
You can create custom lists by adding a name in the URL (e.g., http://localhost:3000/work).
You can then add items to the custom list and access it using the specified name.</p>

<%- include("footer") -%>
